@media screen and (max-width:1199px) {
.profile_left_blk{ width:25%; padding: 10px 15px;}
.profile_left_blk ul li{ font-size:16px;}
.profile_right_blk{ width:73%;}
form#change_password .form-group label{ font-size:14px;}
}


@media screen and (max-width:1024px) {
footer .col-md-4 { margin: 0 0 40px; }
footer { padding: 50px 0; }
.tom-enu > li { margin: 0; }
.mak-select select { width: 100%; }
.cred-det { padding: 30px 15px; }
.cred-det > h4 { font-size: 25px; }
.cred-det > h5 { font-size: 20px; margin: 10px 0; padding: 5px 0; }
.cred-det a { display: inline-block; font-size: 16px; margin: 15px 0 0; }
.profile_left_blk{ width:25%; padding: 10px 15px;}
.profile_left_blk ul li{ font-size:16px;}
.profile_right_blk{ width:73%;}
form#change_password .form-group label{ font-size:14px;}
}


@media screen and (max-width:767px) {
.first-how::before { display: none; }
.first-how { margin: 0 0 30px; }
.how-stpes { padding: 40px 0 30px; }
.title-sec.text-center > h5 { font-size: 25px; }
.title-sec.text-center p { font-size: 17px; padding: 15px 0 50px; }
.first-how center { margin: 0 0 15px; }
.first-cate { height: 170px; padding: 10px 0 0; }
footer { padding: 50px 0 10px 0; }
.min-conte > h5 { font-size: 30px; }
.min-conte { padding: 70px 0; }
.min-conte > p { font-size: 20px; }
.title-sec.text-center > h5 { font-size: 25px; }
.title-sec.text-center p { font-size: 15px; padding: 15px 0 40px; }
.search-sec input { font-size: 15px; height: 50px; margin: 0 0 0 20px; width: calc(100% - 70px); }
.search-sec { height: 50px; }
.search-sec button { height: 50px; right: 1px; width: 50px; }
.search-sec button img { max-width: 100%; }
.banner-butn { width: 100%; }
.tom-enu > li { margin: 0 0 10px; display: block; }
.navbar-collapse { width: 100%; }
.pay-mis-info > p br { display: none; }
.pay-mis-info b { font-size: 25px; }
.start-liv { padding: 0 0 40px; }
.panel-body.tab-detat { padding-left: 40px; }
.panel-collapse::after { left: 22px; }
.tab-headi a::before { left: 10px; }
.tab-headi a::after { left: 22px; }
.tab-headi a { padding: 15px 0 15px 42px; }
.tab-detat span a { height: 41px; line-height: 40px; margin: 20px 3px 20px 0; padding: 0 10px; }
.tab-detat p { line-height: normal; }
.res-box .form-control { height: 50px; }
.res-box { margin: 0 0 100px; }
.tom-enu em, .tom-enu i { display: none; }
.tom-enu > li a { padding: 0; }
.tom-enu > li { margin: 0 0 15px; }
/* / service */

.service-col2 { margin-bottom: 15px; padding: 10px; }
.date-form { border-right: 0 none; min-height: 270px; padding: 0 5px; }
.radio-slider .slick-prev.slick-arrow { left: -10px; }
.radio-slider .slick-next.slick-arrow { right: -10px; }
.uni-icons { font-size: 18px; font-weight: normal; height: 70px; line-height: 22px; padding: 10px 0; }
.service-col2 textarea { font-size: 15px; height: 150px; line-height: 20px; padding: 10px 15px; }
.QuickAssign { padding: 0; }
.QuickAssign h1 { border-top: 1px solid #999; font-weight: 600; margin-top: 20px; padding-top: 20px; }
.service_col h3, h3.serv_heading { font-size: 17px; }
.checkbox-custom-label, .radio-custom-label { font-size: 14px; }
.check_box_part { margin-bottom: 15px; margin-top: 15px; overflow: hidden; }
.col-left { border-right: 0 none; margin: 5px 0; min-height: 350px; padding: 0 15px; }
.col-right { padding: 20px 15px 0; margin: 0; }
.select-wrapper, .select-wrapper select { width: 290px; }
.tab_part ul li { width: 28%; }
.tab_part li a { font-size: 15px; font-style: normal; font-weight: normal; }
.tab_part li a i { height: 25px; line-height: 25px; margin-right: 5px; width: 25px; }
.service-col2 input[type="submit"] { line-height: 40px; margin-top: 0; }
.QuickAssign h1 { margin-top: 10px; padding-top: 15px; font-size: 25px; }
.hr_text { border: 2px solid #000; display: inline-block; font-size: 25px; line-height: 40px; margin: 10px 0; padding: 0 25px; }
.QuickAssign h3 { margin-bottom: 10px; font-size: 20px; }
.QuickAssign p { font-size: 16px; line-height: 22px; margin-bottom: 15px; }
/* / login */
.login-part { margin: auto; width: 90%; }
.login-part ul { margin-bottom: 20px; text-align: center; }
.login-part .col-md-5.col-sm-5 { padding-left: 15px; }
.login-part input[type="submit"] { width: 90%; }
.forgot_text { padding: 15px 15px 0; text-align: center; }
.sign-up.facebook { margin-top: 15px; width: 90%; }
.profile_left_blk, .profile_right_blk{ width:100%;}
.profile_top_blk .breadcrumb li{ margin-right:15px;}
.profile_top_blk{ padding: 30px 0 10px;}
.profile_right_blk h2{ margin-top:30px;}
form#change_password .form-group label{ text-align:left;}
.right_form_content{ padding-left:0px; padding-right:0px;}
.right_form{ margin-top:25px;}
form#change_password .sign-up{ margin-top:20px;}
.right_form .right_form_content{ padding-top: 20px;}

}
@media screen and (max-width:568px) {
.tab_part { background: #ededed none repeat scroll 0 0; margin-bottom: 50px; padding: 10px 0; }
.tab_part ul li { display: inline-block; line-height: 44px; vertical-align: top; width: 32%; }
.service-col2 input[type="submit"] { line-height: 40px; margin-top: 0; width: 100%; }
}
 @media screen and (max-width:479px) {
.tab_part ul li { width: 100%; }
}
