@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700';
@font-face { font-family: 'great_vibesregular'; src: url('../fonts/greatvibes-regular_0-webfont.woff2') format('woff2'), url('../fonts/greatvibes-regular_0-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
 @charset "utf-8";
html { font-size: 100% }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, title { display: block }
body { font-family: 'Roboto Condensed', sans-serif; font-weight: 400; font-style: normal; font-size: 14px; line-height: 15px; -webkit-font-smoothing: antialiased; margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #313132; }
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
ul { list-style: none }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
a img { border: 0; display: block }
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus { outline: 0; text-decoration: none; }
.clearfix { *zoom:1
}
* { outline: none !important; }
a:hover, a:focus { color: #313132; }
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0 }
.clearfix:after { clear: both }
.clear { clear: both }
.btn { outline: 0px; }
.lists { list-style: none; margin: 0px; padding: 0px; }
.container { position: relative; }
label { font-weight: normal; }
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus { outline: 0; text-decoration: none; 
transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*********************************************************************************/
.top-menu { background-color: transparent; border: 0; }
.tom-enu > li { display: inline-block; font-size: 16px; margin: 0 0 0 15px; }
header .navbar { padding: 30px 0; }
.tom-enu { margin: 10px 0 0; }
.banner-sec { background-image: url("../images/banner.jpg"); background-repeat: no-repeat; background-size: cover; }
.min-conte > p { font-size: 24px; line-height: normal; margin: 0 0 30px; }
a.post-ta { border: 1px solid rgb(255, 255, 255); border-radius: 10px; color: rgb(255, 255, 255); display: inline-block; font-size: 17px; font-weight: 500; height: 50px; width: 100%; line-height: 50px; text-align: center; text-transform: uppercase; }
.banner-butn { width: 340px; display: inline-block; }
.min-conte.text-center > ul { background-color: rgba(255, 255, 255, 0.2); display: inline-block; width: 240px; }
.banner-butn > ul { background-color: rgba(255, 255, 255, 0.1); width: 100%; }
.banner-butn li a { border-bottom: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); display: block; font-size: 16px; font-weight: 400; height: 50px; line-height: 50px; margin: 0 30px; }
.banner-butn li:last-child a { border-bottom: 0px solid rgb(255, 255, 255); }
.min-conte { color: rgb(255, 255, 255); padding: 140px 0 110px; }
.min-conte > h5 { font-size: 52px; font-weight: 700; line-height: normal; margin: 0 0 5px; }
a.post-ta:hover { background-color: rgba(255, 255, 255, 0.1); }
.title-sec.text-center > h5 { color: rgb(0, 0, 0); font-size: 42px; line-height: normal; text-transform: uppercase; }
.title-sec.text-center p { color: rgb(0, 0, 0); font-size: 22px; line-height: normal; padding: 15px 0 60px; }
.first-how center { border: 2px solid rgb(51, 51, 51); border-radius: 50%; display: inline-block; height: 100px; line-height: 100px; margin: 0 0 25px; text-align: center; width: 100px; }
.first-how p { color: rgb(49, 49, 50); font-size: 16px; font-weight: 200; line-height: normal; }
.first-how::before { content: "" url("../images/aro.png"); position: absolute; right: -10px; top: 35px; }
.first-how.no-aro::before { display: none; }
.how-stpes { padding: 80px 0; }
.search-sec { background-color: rgb(255, 255, 255); border-radius: 50px; height: 68px; position: relative; }
.search-sec button { background-color: rgba(0, 0, 0, 0); border: 0 none; position: absolute; right: -4px; top: 1px; }
.search-sec input { background-color: rgba(0, 0, 0, 0); border: 0 none; color: rgb(165, 165, 169); font-size: 20px; font-weight: 300; height: 68px; margin: 0 0 0 30px; width: calc(100% - 30px); }
.no-paddng { padding: 0; }
.category-1 { background-image: url(../images/cat-img-1.jpg) }
.category-2 { background-image: url(../images/cat-img-2.jpg) }
.category-3 { background-image: url(../images/cat-img-3.jpg) }
.category-4 { background-image: url(../images/cat-img-4.jpg) }
.category-5 { background-image: url(../images/cat-img-5.jpg) }
.category-6 { background-image: url(../images/cat-img-6.jpg) }
.first-cate { background-size: cover; height: 210px; padding: 40px 0 0; text-align: center; }
.first-cate b { color: rgb(255, 255, 255); display: block; font-size: 16px; font-weight: 400; text-transform: uppercase; }
.first-cate center { display: inline-block; height: 100px; position: relative; width: 100px; }
.first-cate img { position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; }
.src-sec { padding: 40px 0; background-color: #313132; }
.need-help { background-color: rgb(241, 242, 243); padding: 50px 0; text-align: center; }
.need- { color: rgb(76, 76, 76); font-size: 30px; font-weight: 300; margin: 0 0 25px; }
.first-help > b { color: rgb(76, 76, 76); display: block; font-size: 18px; font-weight: 400; padding: 19px 0; }
.first-help > p { color: rgb(76, 76, 76); font-size: 14px; font-weight: 300; line-height: normal; }
.become-tasker { background-image: url("../images/tasker-img.jpg"); background-repeat: no-repeat; background-size: cover; }
.sec-becom { background-color: rgb(255, 255, 255); margin: 55px 0; padding: 40px 25px; text-align: center; }
.sec-becom > h5 { color: rgb(0, 0, 0); font-size: 30px; font-weight: 600; margin: 0 0 20px; padding: 0 0 20px; position: relative; }
.sec-becom > h5::before { background-color: rgb(0, 0, 0); bottom: 0; content: ""; height: 1px; left: 0; margin: auto; position: absolute; right: 0; width: 60px; }
.sec-becom > p { color: rgb(0, 0, 0); display: block; font-size: 16px; font-weight: 400; line-height: normal; margin: 12px 0 0; }
.sec-becom > a { border: 1px solid rgb(0, 0, 0); display: inline-block; font-size: 15px; height: 40px; line-height: 40px; margin: 15px 0 0; text-align: center; transition: all 0.2s ease 0s; width: 150px; }
footer { color: #abb8ca; padding: 100px 0; }
.fot-tit { font-size: 24px; font-weight: bold; padding: 0 0 10px; text-transform: uppercase; }
.footer-conta > p { font-size: 16px; font-weight: 300; margin: 0 0 40px; }
.footer-conta > span { font-size: 14px; font-weight: 300; line-height: 16px; }
.con-det > li { margin: 0 0 10px; }
.con-det > li i { margin: 0 5px 0 0; }
.folwo p { font-size: 16px; font-weight: 300; margin: 0 0 20px; }
.folwo > span a { background-color: rgb(180, 185, 198); border-radius: 50%; color: rgb(255, 255, 255); display: inline-block; height: 30px; line-height: 30px; margin: 0 10px 0 0; text-align: center; transition: all 0.5s ease 0s; width: 30px; }
.folwo > span a:hover { transform: rotate(360deg); }
.con-det > li { font-size: 15px; margin: 15px 0 0; }
.first-cate { position: relative; }
.first-cate:hover::before { width: 100%; height: 100%; background-color: rgba(174, 157, 115,.2); border-radius: 0%; }
.first-cate::before { background-color: rgba(174, 157, 115,.2); border-radius: 50%; bottom: 0; content: ""; height: 1px; left: 0; margin: auto; position: absolute; right: 0; top: 0; transition: all 0.2s ease 0s; width: 1px; z-index: 9; }
.sec-becom > a:hover { border-color: rgb(189, 189, 189); color: rgb(0, 0, 0); }
.tom-enu > li a { padding: 8px 10px; position: relative; }
.tom-enu em::before { background-color: rgb(74, 74, 76); content: ""; height: 1px; left: 0; position: absolute; transition: all 0.2s ease 0s; top: 0; width: 0%; }
.tom-enu em::after { background-color: rgb(74, 74, 76); content: ""; height: 0%; left: 0; position: absolute; transition: all 0.2s ease 0s; bottom: 0; width: 1px; }
.tom-enu i::before { background-color: rgb(74, 74, 76); bottom: 0; content: ""; height: 1px; position: absolute; right: 0; transition: all 0.2s ease 0s; width: 0%; }
.tom-enu i::after { background-color: rgb(74, 74, 76); content: ""; height: 0; position: absolute; right: 0; top: 0; transition: all 0.2s ease 0s; width: 1px; }
.tom-enu a:hover em::before { width: 100%; }
.tom-enu a:hover em::after { height: 100%; }
.tom-enu a:hover i::before { width: 100%; }
.tom-enu a:hover i::after { height: 100%; }
/**************************services**************************/
.banner-sec.servnce-img { background-image: url("../images/services-banner.jpg"); padding: 180px 0 0; }
.heai-title { color: rgb(255, 255, 255); display: block; font-size: 40px; letter-spacing: 1px; padding: 0 0 60px; text-align: center; }
.task-uw { border: 1px solid rgb(255, 255, 255); height: 180px; margin: 0 0 70px; text-align: center; position: relative; }
.task-uw b { color: rgb(255, 255, 255); display: block; font-family: "great_vibesregular"; font-size: 30px; font-weight: normal; margin: 60px 0 25px; }
.task-uw > p { color: rgb(255, 255, 255); font-size: 13px; font-weight: 400; letter-spacing: 1px; }
.task-uw > em { background-color: rgb(255, 255, 255); color: rgb(183, 178, 178); font-size: 27px; font-style: normal; font-weight: bold; height: 40px; left: 0; line-height: 40px; position: absolute; width: 40px; }
.first-how.how-help center img { position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; }
.first-how.how-help::before { display: none; }
.first-how.how-help center { border: #b3a47c solid 1px; display: inline-block; height: 165px; line-height: 165px; position: relative; text-align: center; width: 165px; }
.first-how.how-help b { color: rgb(49, 49, 50); display: block; font-size: 16px; font-weight: 500; line-height: normal; text-align: center; text-transform: uppercase; }
.how-stpes.serv-s { background-color: #ecedf0; }
.al-serv ul{ width:100%; float:none; display:inline-block; text-align:center; margin: 20px 0px 0px;}
.al-serv ul li{ width:33%; display:inline-block; text-align:left; padding:0px 7px 0px;}
.al-serv li a:hover { opacity: .8; }
.al-serv li a { background-color: rgb(255, 255, 255); background-image: url("../images/aro-sm.png"); background-position: calc(20px) center; background-repeat: no-repeat; color: rgb(0, 0, 0); display: block; height: 45px; line-height: 45px; padding: 0 10px 0 45px; text-transform: uppercase; }
.al-serv li:nth-child(2n+2) a { background-color: rgb(221, 224, 229); }
.al-serv { display: table; padding: 40px 0 0; width: 100%; }
/****************************Payment***************************/
.bold-font a, .bold-font { font-weight: 600; }
.pay-tabn > li { display: inline-block; }
.pay-tabn > li a { color: rgb(64, 65, 66); display: block; font-size: 22px; font-weight: 300; height: 50px; line-height: 50px; padding: 0 30px; }
.pay-tabn > li.active a { background-color: #404142; color: #fff; }
.pay-tabn { border: 1px solid rgb(192, 194, 196); display: inline-block; margin: 0 0 40px; }
.msi-det { background-color: rgb(239, 82, 60); display: table; margin: 0 0 45px; padding: 20px; width: 100%; }
.pay-mis-info b { color: rgb(255, 255, 255); font-size: 31px; font-weight: 500; line-height: normal; }
.pay-mis-info > p { color: rgb(255, 255, 255); font-size: 22px; font-weight: 300; line-height: normal; }
.pay-buto > a { border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); display: inline-block; font-size: 23px; height: 55px; line-height: 55px; margin: 15px 0 0; padding: 0; text-align: center; width: 100%; }
.tab-headi a::before { background-image: url("../images/plus-click.png"); background-position: center top; bottom: 0; content: ""; height: 27px; left: 15px; position: absolute; top: 15px; width: 27px; }
.tab-headi a.collapsed::before { background-position: center bottom; }
.tab-headi a { border-bottom: 1px solid rgb(243, 243, 244); display: block; padding: 15px 0 15px 60px; position: relative; }
.tab-headi a b { color: rgb(35, 31, 32); display: block; font-size: 19px; font-weight: normal; line-height: normal; margin: 0 0 3px; }
.tab-headi a p { color: rgb(35, 31, 32); display: block; font-size: 17px; font-weight: 100; margin: 0 0 2px; }
.tab-headi a em { font-size: 12px; font-style: normal; font-weight: 200; color: #231f20; }
.tab-right-sec .panel.panel-primary { border-color: rgb(236, 236, 237); box-shadow: none; }
.tab-detat > b { color: rgb(126, 126, 129); display: block; font-size: 16px; font-weight: 200; margin: 0 0 10px; }
.tab-detat p { color: #231f20; display: block; font-size: 17px; font-weight: 500; margin: 0 0 10px; }
.tab-detat em { color: rgb(136, 137, 140); display: block; font-size: 16px; font-style: normal; font-weight: 100; line-height: normal; margin: 0 0 10px; }
.tab-detat span a { border: 1px solid rgb(159, 161, 163); border-radius: 5px; display: inline-block; font-size: 17px; font-weight: 200; height: 42px; line-height: 41px; margin: 20px 10px 20px 0; padding: 0 20px; }
.tab-detat span a:hover { opacity: .8; }
.panel-body.tab-detat { padding-left: 60px; }
.panel-collapse { position: relative; }
.panel-collapse::after { background-color: rgb(115, 117, 120); bottom: 0; content: ""; height: 100%; left: 26px; position: absolute; top: 0; width: 3px; }
.tab-headi a.collapsed::after { background-color: #fff; }
.tab-headi a:after { background-color: rgb(115, 117, 120); bottom: 0; content: ""; height: 100%; left: 26px; position: absolute; top: 41px; width: 3px; }
.mak-select select { -moz-appearance: none; -webkit-appearance: none; appearance: none; }
.mak-select select { background-image: url("../images/aro-select.png"); background-position: calc(100% - 10px) center; background-repeat: no-repeat; border: 1px solid rgb(192, 194, 196); color: rgb(164, 166, 169); font-size: 22px; font-weight: 300; height: 53px; padding: 0 20px; width: calc(100% - 50px); }
.str-liv b { color: rgb(35, 31, 32); display: block; font-size: 16px; font-weight: 200; line-height: normal; text-align: center; text-transform: uppercase; }
.str-liv { border: 1px solid rgb(237, 239, 240); height: 140px; margin: 0 0 30px; }
.str-liv a { display: block; height: 100%; }
.str-liv center { height: 90px; line-height: 90px; position: relative; }
.str-liv center img { bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; }
.start-liv > b { color: rgb(64, 65, 66); display: block; font-size: 24px; font-weight: 400; line-height: normal; margin: 20px 0; text-align: center; }
.start-liv { border: 1px solid rgb(213, 214, 215); padding: 0 15px 40px; }
.sera-else > b { color: rgb(64, 65, 66); display: block; font-size: 18px; font-weight: 300; margin: 0 0 15px; text-align: center; }
.sera-else input { border: 1px solid rgb(213, 214, 215); display: inline-block; height: 47px; padding: 0 20px; width: 100%; }
.sera-else { padding: 0 20px; }
.cred-det { border: 1px solid rgb(213, 214, 215); margin: 35px 0; padding: 40px; }
.cred-det > h4 { color: rgb(64, 65, 66); display: block; font-size: 44px; font-weight: 500; }
.cred-det > h5 { border-bottom: 2px solid rgb(195, 195, 195); border-top: 2px solid rgb(195, 195, 195); color: rgb(64, 65, 66); display: block; font-size: 38px; font-weight: 500; line-height: normal; margin: 15px 0; padding: 10px 0; }
.cred-det a:hover { text-decoration: underline; }
.cred-det a { color: rgb(35, 31, 32); display: block; font-size: 20px; margin: 15px 0 0; }
/*********************************************Register***************************************/
.register-bg { background-image: url("../images/register.jpg"); background-repeat: no-repeat; background-size: cover; }
.res-box { background-color: rgba(255, 255, 255, 0.7); border-radius: 10px; margin: 20px 0 100px; padding: 40px 0; }
.res-box .form-control { border: 1px solid #b2b0b3; border-radius: 5px; height: 50px; margin-bottom: 15px; box-shadow: none; }
.res-box label { color: #5b5c5f; font-size: 16px; font-weight: 400; margin-bottom: 10px; }
.cret-your { display: block; font-size: 30px; font-weight: 200; line-height: normal; margin: 0 0 40px; text-align: center; }
.terms-con { text-align: left; font-size: 18px; font-weight: 300; }
.terms-con > a:hover { text-decoration: underline; }
.terms-con > a { color: rgb(13, 174, 227); line-height: normal; }
.sign-up:hover { opacity: .7; }
.sign-up { background-color: rgb(70, 70, 70); border-radius: 5px; color: rgb(255, 255, 255) !important; display: inline-block; font-size: 17px; height: 50px; line-height: 50px; margin: 30px 0 0; padding: 0 30px; text-transform: uppercase; }
.cret-your { font-size: 22px; }
/* / Services Page */

.tab_part { background: #ededed none repeat scroll 0 0; margin-bottom: 50px; }
.tab_part ul { text-align: left; }
.tab_part ul li { display: inline-block; vertical-align: top; width: 30%; line-height: 60px; }
.tab_part li a { font-size: 20px; font-style: normal; font-weight: bold; }
.tab_part li a i { background-color: #4f4f51; border-radius: 50%; color: #fff; display: inline-block; font-style: normal; height: 30px; line-height: 30px; text-align: center; width: 30px; margin-right: 10px; }
.service_col h3 { margin-bottom: 10px; }
.service_col .select-wrapper { margin-bottom: 20px; }
/* Select Box Css */
.select-wrapper { background: rgba(0, 0, 0, 0) url("../images/dropdown.png") no-repeat scroll 96% center; border: 1px solid #b2b0b3; border-radius: 5px; box-shadow: none; cursor: pointer; display: inline-block; float: left; font-size: 16px; font-weight: 300; height: 45px; line-height: 45px; }
.select-wrapper, .select-wrapper select { height: 50px; line-height: 50px; width: 300px; }
.select-wrapper:hover { background: url("../images/dropdown-hover.png") no-repeat 96% center; border-color: #a1a1a1; }
.select-wrapper .holder { color: #9e9e9e; cursor: pointer; display: block; font-size: 17px; font-weight: 400; margin: 0 35px 0 5px; overflow: hidden; padding-left: 5px; position: relative; white-space: nowrap; z-index: 1; }
.select-wrapper select { margin: 0; position: absolute; z-index: 2; cursor: pointer; outline: none; opacity: 0; _noFocusLine: expression(this.hideFocus=true);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0; }
.form-group { margin-bottom: 0; }
h3.serv_heading { margin-bottom: 10px; }
.check_box_part { margin-bottom: 25px; margin-top: 25px; overflow: hidden; }
.check_box_part div { display: inline-block; vertical-align: top; margin-right: 10px; }
.checkbox-custom, .radio-custom { opacity: 0; position: absolute; }
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label { cursor: pointer; display: inline-block; margin: 0; vertical-align: middle; }
.checkbox-custom-label, .radio-custom-label { font-size: 18px; position: relative; }
.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before { content: ''; background: #fff; border: 1px solid #ddd; display: inline-block; vertical-align: middle; width: 17px; height: 17px; padding: 0 1pxpx; margin-right: 10px; text-align: center; }
.checkbox-custom:checked + .checkbox-custom-label:before { content: "\f00c"; font-family: 'FontAwesome'; background: #333; color: #fff; font-size: 12px; line-height:normal; padding-top:1px;}
.radio-custom + .radio-custom-label:before { border-radius: 50%; }
.radio-custom:checked + .radio-custom-label:before { content: "\f00c"; font-family: 'FontAwesome'; color: #bbb; }
.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label { outline: 1px solid #ddd; /* focus style */ }
.service-col2 { border: 1px solid #eee; padding: 15px; margin-bottom: 40px; }
.service-col2 input, .service-col2 textarea {
border: 1px solid #b2b0b3;
border-radius: 5px;
color: #333333;
font-size: 17px;
line-height: 24px;
min-height: 45px;
padding: 5px 15px;
width: 100%;
}
.service-col2 input, .service-col2 textarea, .service-col2 .select-wrapper { margin-bottom: 15px; }
.service-col2 input[type="radio"], .service-col2 input[type="checkbox"] { width: auto !important; }
.service-col2 textarea { height: 140px; }
.service-col2 input[type="submit"],.service-col2 input[type="button"]  { background: #464647 none repeat scroll 0 0; border: 0 none; color: #fff; line-height: 50px; margin-top: 15px; text-transform: uppercase; width: 180px; }
.service-col2 input[type="submit"]:hover, .service-col2 input[type="submit"]:focus { outline: 0; text-decoration: none; transition: 0.5s all; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -o-transition: 0.5s all; -ms-transition: 0.5s all; opacity: 0.6; }
.date-form { border-right: 1px solid #b3b2b4; min-height: 270px; padding: 0 50px 0 30px; }
.QuickAssign { padding: 0 15px; }
.QuickAssign h1 { margin-top: 35px; font-weight: 600; }
.hr_text { border: 2px solid #000; display: inline-block; font-size: 30px; line-height: 50px; margin: 15px 0; padding: 0 35px; }
.hr_text span { font-weight: 600; }
.QuickAssign h3 { margin-bottom: 15px; }
.QuickAssign p { color: #88898c; font-size: 16px; line-height: 22px; text-align: left; }
.col-left { border-right: 1px solid #b3b2b4; min-height: 350px; padding: 0px 40px; margin: 25px 0px; }
.col-left label { color: #5b5c5f; font-size: 16px; margin-bottom: 15px; width: 100%; }
.col-right { margin: 20px 0; padding: 0 40px; }
.col-right label { color: #88898c; font-size: 18px; margin-bottom: 10px; }
.col-right p { font-size: 16px; line-height: 20px; margin-bottom: 25px; }
.date_select .select-wrapper, .date_select .select-wrapper select, .time_select .select-wrapper, .time_select .select-wrapper select { width: 100%; }
.date_select .select-wrapper select.custom-select, .time_select .select-wrapper select.custom-select { width: 80% !important; }
.date_select .select-wrapper, .time_select .select-wrapper { background: rgba(0, 0, 0, 0) url("../images/select_arrow.png") no-repeat scroll 94% center; border: 1px solid #b2b0b3; border-radius: 5px; box-shadow: none; cursor: pointer; display: inline-block; float: left; font-size: 16px; font-weight: 300; height: 52px; line-height: 52px; }
.time_select .select-wrapper { background-position: 96% center; }
.time-lable { font-size: 18px; line-height: 25px; margin-bottom: 15px; }
.univ-cate { position: relative; text-align: center; margin: 0 10px 20px; }
.uni-icons { background-color: rgba(255, 255, 255, 0.3); border: 2px solid #ccc; border-radius: 5px; color: #666; cursor: pointer; font-size: 21px; font-weight: bold; height: 80px; line-height: 27px; padding: 11px 0; width: 100%; }
.uni-icons > span { display: block; height: auto; margin: 0; position: relative; text-align: center; }
.uni-icons i { color: rgb(255, 255, 255); display: block; font-size: 23px; font-style: normal; font-weight: 200; text-align: center; }
.uni-icons > span img { bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; }
.univ-cate input[type="radio"] { cursor: pointer; height: 100%; left: 0; opacity: 0; position: absolute; right: 0; top: 0; width: 100% !important; z-index: 9; }
.univ-cate input[type="radio"]:checked ~ .uni-icons { background-color: #464647; border: 2px solid #464647; color: #ffffff; }
.slick-slider button { background: transparent none repeat scroll 0 0; border: 0 none; height: 20px; text-indent: -9999px; }
.radio-slider .slick-prev.slick-arrow { left: -25px; position: absolute; top: 30%; background-image: url(../images/date-slider-left-arrow.png); background-repeat: no-repeat; background-position: left center; }
.radio-slider .slick-next.slick-arrow { right: -25px; position: absolute; top: 30%; background-image: url(../images/date-slider-right-arrow.png); background-repeat: no-repeat; background-position: right center; }
.note_text { color: #a3a2a4; font-size: 18px; line-height: 24px; margin-bottom: 15px; }
.note_text span { color: #333; }
/* / Login */

.login-part { margin: auto; width: 640px; }
.login-part ul { margin-bottom: 50px; text-align: center; }
.login-part li { border-right: 1px solid; display: inline-block; height: 20px; vertical-align: top; }
.login-part li:last-child { border: 0 none; }
.login-part li a { font-size: 22px; font-weight: 200; padding: 0 15px; }
.login-part .col-md-5.col-sm-5 { padding-left: 0; }
.login-part .col-md-2.col-sm-2.col-lg-2.text-center { padding: 0; }
.login-part .form-control { font-size: 17px; font-weight: 200; padding: 0 10px 0 40px; }
.login-part .form-group { position: relative; }
.login-part .form-group i { left: 10px; position: absolute; top: 15px; }
.login-part input[type="submit"] { background: #464647 none repeat scroll 0 0; border: 0 none; color: #fff; font-size: 15px; line-height: 50px; margin-top: 0; text-transform: uppercase; width: 100%; border-radius: 5px; }
.forgot_text a { color: #666; font-size: 16px; }
.text-center.or-text { margin-top: 15px; font-size: 16px; color: #333; }
.login-part input[type="submit"]:hover, .service-col2 input[type="submit"]:focus { outline: 0; text-decoration: none; transition: 0.5s all; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -o-transition: 0.5s all; -ms-transition: 0.5s all; opacity: 0.6; }
.date-form { border-right: 1px solid #b3b2b4; min-height: 270px; padding: 0 50px 0 30px; }
.sign-up.facebook i { font-size: 16px; margin-right: 5px; }
.sign-up.facebook { background-color: #445f95;}




.middle-section{ width:100%; background:#ecedf0;}
.profile_top_blk{ width:100%; padding:60px 0px 30px; display: inline-block;}
.profile_top_blk .breadcrumb{ background:none;}
.profile_top_blk .breadcrumb li{ background:#464646; font-size:18px; color:#fff; line-height:34px; padding:0px 10px; border-radius:5px; margin-right:35px;}
.profile_top_blk .breadcrumb li a{ color:#fff;}
.profile_top_blk .breadcrumb > li + li::before{ content:''; padding:0px;}

.profile_bottom_blk{ width:100%; padding:0px 15px 100px; display: inline-block;}
.profile_left_blk{ width:18%; float:left; border:2px solid #a1a1a1; border-radius:5px; background:#fff; padding:10px 20px;}
.profile_left_blk ul li{ width:100%; border-bottom:1px solid #a1a1a1; font-size:18px; line-height:48px; display:table;}
.profile_left_blk ul li a{ color:#000;}
.profile_left_blk ul li:last-child{ border-bottom:none;}
.profile_right_blk{ width:78%; float:right;}
.profile_right_blk h2{ font-size:34px; color:#000; margin-bottom:20px;}
.profile_right_blk .table-responsive{ background: rgb (255, 255, 255) none repeat scroll 0 0; border: 2px solid rgb(161, 161, 161);border-radius: 5px; display: inline-block; width: 100%;}
.table-bordered{ border:none; font-size:18px; font-weight:normal; text-align:center; margin-bottom:0px;}
.table-bordered th{ font-weight:normal; text-align:center;}
.table-bordered a{ display:inline-block; text-align:center;}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{ border-bottom-width: 1px;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { line-height:38px; padding: 8px 8px 0;}
.profile_right_blk .table-responsive th{ font-size: 13px; font-weight: 500; line-height: normal; padding: 5px 15px; white-space: nowrap;}
.table-responsive.my_table{ overflow:visible; background:#fff;}
.continue_blk a{ background: #464647; border: 0 none; color: #fff; line-height: 50px; margin-top: 15px; width: 150px;  float:right; text-align:center; font-size:19px; border-radius: 5px; margin-top:20px;}
.continue_blk a:hover, .continue_blk a:focus { text-decoration: none; transition: 0.5s all; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -o-transition: 0.5s all; -ms-transition: 0.5s all; opacity: 0.6; }

.profile_top_blk h2{ font-size:30px; color:#000; text-align:center; margin-bottom:30px;}
.profile_top_blk ul li{ width:100%; float:left; padding-bottom:20px;}
.profile_top_blk ul li label{ font-size:18px; color:#000; padding-top:8px; text-align:right; display:block;}
.profile_top_blk ul li input[type="text"],.profile_top_blk ul li input[type="password"]{ width:100%; float:left; background:#fff; border:2px solid #a1a1a1; height:36px; line-height:36px; padding:0px 5px; border-radius:10px; font-size:18px; color:#000;}

.profile_bottom_blk .checkbox-custom-label, .radio-custom-label{ font-size:14px; position:relative;}
.profile_bottom_blk .al-serv li a{ background-image:none; padding-left:20px;}
.align_right{ float:right;}
.pad_btm_0{ padding-bottom:0px;}

.profile_left_blk .tab-headi a {
  padding: 0; border-bottom:none;
}
.profile_left_blk .tab-headi a::before{ left:auto; right:0px; top:11px;}
.profile_left_blk .tab-headi a::after, .profile_left_blk .panel-collapse::after{ width:0px;}
.profile_left_blk .dropdown-menu{ background:#a1a1a1; color:#fff; position:relative; text-align:center; margin-bottom:15px; padding:0px; border:none; min-width: 154px;}
.profile_left_blk .dropdown-menu li a{ color:#fff; line-height:32px;}
.profile_left_blk .dropdown-menu li a:hover{ background:#ccc; color:#000;}
.profile_left_blk .dropdown-menu a::before{ background-image:none;}
.profile_left_blk .dropdown .btn{ width:100%; font-size:16px; border-radius:15px; border:2px solid #a1a1a1;}

form#change_password .form-group {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
form#change_password .form-group label {
  display: block;
  text-align: right;
  font-size:16px;
  line-height:30px;
  margin-bottom:0px;
}
form#change_password .sign-up{ margin-top:36px;}
.right_form .right_form_content{ padding-top: 40px;}
.service-col2 {
    /* display: table; */
    margin-top: 50px;
    width: 100%;
    float: left;
    z-index: -1;
}
button.service_btn{ width:160px; padding:10px 10px; text-align:left; white-space: unset;}
button.service_btn .caret {
    display: inline;
    float: right;
    margin-top: 8px;
    vertical-align: top;
}
.service_col {
display: inline;
}
/*---------task page------------*/
header #navbar{ padding:0px;}
.middle_top_blk{ width:100%; display:block; border-bottom:1px solid #cacbcb; border-top:1px solid #cacbcb; padding:13px 0px 12px;}
.middle_top_blk li{ display:inline-block; margin-right:70px; font-size:17px;}
.middle_top_blk li select{ background:url("../images/arrow-img.jpg") no-repeat right 3px; border:none; -moz-appearance: none; -webkit-appearance: none; appearance: none; padding:0px 17px 0px 0px; line-height:22px;}

.middle_bottom_blk{ padding:30px 0px 50px;}
.search_blk input[type="text"]{ width:100%; background:url("../images/search-img.png") no-repeat right 0px #fff; border:none; padding:0px 10px 0px; height:44px; line-height:44px; font-size:16px; border-radius:3px;}
.pad_0{ padding:0px;}
.task_list{ width:100%; display:inline-block; margin-top:20px; border-top:1px solid #b0b0b1; height:484px;}
.task_list li{ width:100%; display:inline-block; border-bottom:1px solid #b0b0b1; padding:20px 0px;}
.task_list h2, .task_list h2 a {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.task_list h3, .task_list h3 a {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.task_detail {
  border: 1px solid;
  color: #666 !important;
  font-weight: normal !important;
  padding: 5px 8px;
}
.task_detail:hover {
  color: #000 !important;
}
/*
.task_list h3::before, .task_list h3 a::before{ content:""; font-family:'FontAwesome'; font-size:18px; line-height:24px; padding-right: 5px;}
*/
.task_list p, .task_list p a{ display:block; font-size:16px; font-weight:300;}
.task_list span {
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 95px;
  text-align: right;
  padding-right: 10px;
}
.task_list a.earn_btn{ width:100%; background:#707070; display:block; border-radius:3px; font-size:16px; color:#fff; text-align:center; text-transform:uppercase; padding:8px 0px 8px; transition:all 0.5s ease-in-out;}
.task_list a.earn_btn:hover{ background:#515050;}
.mCSB_scrollTools{ width:10px;}
.mCSB_scrollTools .mCSB_draggerRail{ width:10px; background-color:#ccc; border-radius:0px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width:10px; background-color:#a1a1a1; border-radius:0px;}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color:#a1a1a1;}
.map_blk{ padding:65px 0px 0px;}

.pad_right_blk{ padding:30px 15px 30px 40px;}
.pad_left{ padding-right:0px; padding-left:15px;}
.task_detail_blk{ width:100%; display:inline-block; background:#fff; height:484px; margin-top:63px;}
.task_top_blk{ width:100%; display:inline-block; border-top:3px solid #008fb6; padding:20px 0px; border-bottom:1px solid #d7e2e6;}
.post_task p{ width:65%; display:inline-block; background:url(../images/add-img.png) no-repeat 0px 0px; font-size:18px; color:#758389; line-height:22px; padding:0px 0px 0px 40px;}
.post_task a{ float:right; display:inline-block; border-radius:20px; border:2px solid #cfdbdf; font-size:18px; color:#008fb6; line-height:22px; padding:8px 25px; transition:all 0.5s ease-in-out;}
.post_task a:hover{ background:#f1f1f1;}
.task_pay{ width:100%; display:inline-block; margin-top:20px;}
.task_pay_left h1{ font-size:18px; color:#829094; font-weight:600; margin-bottom:10px;}
.task_pay_left span{ font-size:16px; color:#758389; line-height:22px;}
.task_pay_left span a{ color:#008fb6;}
.task_pay_left span img{ margin-right:5px;height:50px;    width: 50px;}

.offer_blk{ width:100%; display:inline-block; background:#f1f1f1; border-radius:5px; margin-bottom:20px;    line-height: 24px;}
span.paid_txt{ width:100%; display:inline-block; background:#cad7dc; font-size:16px; line-height:23px; color:#fff; text-align:center; padding:6px 0px 7px; border-radius:5px 5px 0px 0px;}
span.paid_txt img{ margin-left:5px;}
span.price{ width:100%; display:inline-block; color:#829094; font-size:48px; line-height:54px; text-align:center; padding:15px 0px 15px;}
span.offer_txt{ width:100%; display:inline-block; background:#707070; font-size:20px; color:#fff; line-height:24px; text-align:center;border-radius:0px 0px 5px 5px; padding:8px 0px 9px;}
.more_option a{ width:100%; display:inline-block; font-size:18px; color:#758389; text-align:center; border:2px solid #cfdbdf; border-radius:5px; padding:12px 0px; transition:all 0.5s ease-in-out;}
.more_option a:hover{ background:#f1f1f1;}
.more_option a i{ font-size:20px; margin-left:3px;}

.description_blk{ width:100%; display:inline-block; padding:15px 0px;}
.description_blk h4{ font-size:18px; color:#758389; line-height:22px; margin-bottom:5px;}
.description_blk p{ font-size:18px; color:#758389; line-height:22px; margin-bottom:10px;}
.description_blk li{ background:#dbf3ff; display:inline-block; border-radius:3px; font-size:16px; text-transform:uppercase; margin-right:5px; margin-bottom:5px;}
.description_blk li a{ width:100%; display:inline-block; color:#008fb6; padding:7px 20px;}



/* / 21 Dec Css */

.how-stpes .slick-prev.slick-arrow {
  background-image: url("../images/date-slider-left-arrow.png");
  background-repeat: no-repeat;
  left: -25px;
  top: 34%;
  position: absolute;
}

.how-stpes .slick-next.slick-arrow {
	background-image:url(../images/date-slider-right-arrow.png);
	background-repeat:no-repeat;
	right:-25px;
	top: 34%;
    position: absolute;
}
.dataTables_length {
	display:none;
}

.task_blk .dataTables_filter {
  width: 100%;
}
.task_blk #datatable_filter label {
  text-indent: -999px;
  width: 100%;
}
.task_blk .dataTables_filter input {
  border: 0 none;
  border-radius: 2px;
  line-height: 50px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0 15px;
  width: 100%;
}



.task_list a.earn_btn {
background: #707070 none repeat scroll 0 0;
border-radius: 3px;
color: #fff;
display: block;
font-size: 16px;
line-height: 20px;
padding: 8px 0;
text-align: center;
text-transform: uppercase;
transition: all 0.5s ease-in-out 0s;
width: 100%;
}
.loading_leftsidebar {
display: block;
text-align: center;
width: 100%;
}
.loading_rightsidebar img {
margin: 40% auto;
}
.loading_rightsidebar {
display: block;
position: absolute;
text-align: center;
width: 100%;
}
.profile_title h4 {
font-size: 20px;
padding-bottom: 15px;
}

.profile_title_dashboard h4 {
font-size: 20px;
padding-bottom: 15px;
}
.offer_price{
    width: 100%;
    display: inline-block;
    color: #829094;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    padding: 15px 0px 15px;
    border: none;
  }
 .offer_price_button
 {
    width: 100%;
    display: inline-block;
    background: #707070;
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    padding: 8px 0px 9px;
    border: none;
 }


/*-----------23 DEC-------------*/
button.more_option{ width:100%; background:#fff; display:inline-block; font-size:18px; color:#758389; text-align:center; border:2px solid #cfdbdf; border-radius:5px; padding:12px 0px; transition:all 0.5s ease-in-out;}
button.more_option:hover{ background:#f1f1f1;}
button.more_option i{ font-size:20px; margin-left:3px;}
.more_option_txt .dropdown-menu{ min-width:100%; padding:0px;}
.more_option_txt .dropdown-menu .divider{ margin:0px;}
.more_option_txt .dropdown-menu li a{ color:#808e94; font-size:16px; padding:8px 20px 10px;}
.more_option_txt ul li .fa{ margin-right: 5px;}


/*-----------26 DEC-------------*/
.profile_middle_container{ width:100%; display:inline-block; border-top:1px solid #ccc; background:#f5f5f5; padding:30px 0px;}
.profile_blk{ width:100%; display:inline-block; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); border-radius:5px;}
.cover_blk{ width:100%; background:url(../images/tasker-img.jpg) no-repeat 0px 0px; height:200px; position:relative; border-radius: 5px 5px 0 0; padding:0px 20px;}
.img_blk{ width:100%; display:inline-block;}
.img_blk img{ width:130px; height:130px; border:3px solid #fff; position:absolute; bottom:-20px; border-radius:10px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);}
.img_blk a{ float:right; background:#008fb6; font-size:16px; color:#fff; border-radius:20px; padding: 10px 20px 12px; margin-top:140px;}

.profile_detail_blk{ width:100%; display:inline-block; background:#fff; padding:20px 0px;}
.content_blk{ width:100%; display:inline-block; border-bottom:1px solid #eaeaea; padding:30px 20px 30px;}
.content_blk h3{ font-size:18px; font-weight: 600; margin-bottom:15px; text-transform: uppercase;}
.content_blk .col-md-6{ padding:0px 0px;}
.info_blk{ display:inline-block;}
.info_blk h2{ font-size:22px; margin-bottom:17px;}
.info_blk p{ font-size:16px; margin-bottom:4px;}
.info_blk i{ margin-right:5px;}
.info_blk span{ font-size:14px; margin-top:5px; display:block;}


.tabbable-panel{ float:right; text-align:right;}
.tabbable-line > .nav-tabs { border: none; margin: 0px;}
.tabbable-line > .nav-tabs > li { margin-right: 2px;}
.tabbable-line > .nav-tabs > li > a { border: 0; margin-right: 0; color: #737373; padding: 0 20px 5px;}
.tabbable-line > .nav-tabs > li > a > i { color: #a6a6a6;}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover { border-bottom: 2px solid #008fb6;}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a { border: 0; background: none !important; color: #333333;}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i { color: #a6a6a6;}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu { margin-top: 0px;}
.tabbable-line > .nav-tabs > li.active { border-bottom: 2px solid #008fb6; position: relative;}
.tabbable-line > .nav-tabs > li.active > a { border: 0; color: #333333;}
.tabbable-line > .nav-tabs > li.active > a > i { color: #404040;}
.tabbable-line > .tab-content { margin-top: -1px; background-color: #fff; border: 0; border-top: 1px solid #eee; padding: 10px 0 0px;}
.portlet .tabbable-line > .tab-content { padding-bottom: 0;}
span.rating_blk{ color: #f4be36; margin:0 0 5px;}
span.rating_blk i{ font-size:16px; margin-right:2px;}

.about_blk ul li{ font-size:16px; padding-bottom:8px; list-style:inside; font-weight: 300;    line-height: 25px;
    list-style: inherit;}
span.about_txt{ color: #839094; display: block; font-size: 22px; font-weight: 300; line-height: 28px; padding: 0 70px; text-align: center;}
a.learn_more{ float:right; display:inline-block; border-radius:20px; border:2px solid #cfdbdf; font-size:18px; color:#008fb6; line-height:22px; padding:8px 25px; transition:all 0.5s ease-in-out;}
a.learn_more:hover{ background:#f1f1f1;}

.skills_blk h4{ font-size:16px; color:#008fb6; margin-bottom:10px; text-transform: uppercase;}
.skills_blk ul li{ font-size:15px; font-weight:300; padding:5px;}
.reviews_blk li select{ border: 1px solid #cccccc; height: 36px; padding: 0 5px; width: 170px;}
.reviews_blk li{ display:inline-block; margin-right: 10px;}
.reviews_blk li .radio{ display:inline-block; margin-right: 10px;}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{ outline:none; outline-offset:0px;}

.star_blk{ float:right; text-align:right; margin-left:25px; margin-bottom: 20px;}
.star_blk ul li:first-child i{ color:#f4be36;}
.star_blk label{ margin-left:8px;}
.media{ padding: 0 15px;}
span.time_txt{ color: #aebbc0; display: block; padding: 5px 0;}
.media-heading{ color:#008fb6;}
.media-left img {
  border-radius: 5px;
}
.content_blk .slick-initialized .slick-slide{ margin:5px;}
.content_blk .thumbnail{ margin-bottom:0px;}
button.complete_task{ background: #ffffff; border: 1px solid #8dc63f; color: #8dc63f;}
button.complete_task:hover{ background: #ffffff; border: 1px solid #8dc63f; color: #8dc63f;}
button.submit_task { background: #ffffff; border: 1px solid #5bc4bf; color: #5bc4bf;}
button.submit_task:hover { background: #ffffff; border: 1px solid #5bc4bf; color: #5bc4bf;}
button.processing_task { background: #ffffff; border: 1px solid #f68c50; color: #f68c50;}
button.processing_task:hover{ background: #ffffff; border: 1px solid #f68c50; color: #f68c50;}
button.cancel_request_task { background: #ffffff; border: 1px solid #f01919; color: #f01919;}
button.cancel_request_task:hover{ background: #ffffff; border: 1px solid #f01919; color: #f01919;}
