@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700';
@font-face { font-family: 'great_vibesregular'; src: url('../fonts/greatvibes-regular_0-webfont.woff2') format('woff2'), url('../fonts/greatvibes-regular_0-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
 @charset "utf-8";
html { font-size: 100% }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, title { display: block }
body { font-family: 'Roboto Condensed', sans-serif; font-weight: 400; font-style: normal; font-size: 14px; line-height: 15px; -webkit-font-smoothing: antialiased; margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #313132; }
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
ul { list-style: none }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
a img { border: 0; display: block }
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus { outline: 0; text-decoration: none; }
.clearfix { *zoom:1
}
* { outline: none !important; }
a:hover, a:focus { color: #313132; }
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0 }
.clearfix:after { clear: both }
.clear { clear: both }
.btn { outline: 0px; }
.lists { list-style: none; margin: 0px; padding: 0px; }
.container { position: relative; }
label { font-weight: normal; }
/*********************************************************************************/
.top-menu { background-color: transparent; border: 0; }
.tom-enu > li { display: inline-block; font-size: 16px; margin: 0 0 0 15px; }
header .navbar { padding: 30px 0; }
.tom-enu { margin: 15px 0 0; }
.banner-sec { background-image: url("../images/banner.jpg"); background-repeat: no-repeat; background-size: cover; }
.min-conte > p { font-size: 24px; line-height: normal; margin: 0 0 30px; }
a.post-ta { border: 1px solid rgb(255, 255, 255); border-radius: 10px; color: rgb(255, 255, 255); display: inline-block; font-size: 17px; font-weight: 500; height: 50px; width: 100%; line-height: 50px; text-align: center; text-transform: uppercase; }
.banner-butn { width: 340px; display: inline-block; }
.min-conte.text-center > ul { background-color: rgba(255, 255, 255, 0.2); display: inline-block; width: 240px; }
.banner-butn > ul { background-color: rgba(255, 255, 255, 0.1); width: 100%; }
.banner-butn li a { border-bottom: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); display: block; font-size: 16px; font-weight: 400; height: 50px; line-height: 50px; margin: 0 30px; }
.banner-butn li:last-child a { border-bottom: 0px solid rgb(255, 255, 255); }
.min-conte { color: rgb(255, 255, 255); padding: 140px 0 110px; }
.min-conte > h5 { font-size: 52px; font-weight: 700; line-height: normal; margin: 0 0 5px; }
a.post-ta:hover { background-color: rgba(255, 255, 255, 0.1); }
.title-sec.text-center > h5 { color: rgb(0, 0, 0); font-size: 42px; line-height: normal; text-transform: uppercase; }
.title-sec.text-center p { color: rgb(0, 0, 0); font-size: 22px; line-height: normal; padding: 15px 0 60px; }
.first-how center { border: 2px solid rgb(51, 51, 51); border-radius: 50%; display: inline-block; height: 100px; line-height: 100px; margin: 0 0 25px; text-align: center; width: 100px; }
.first-how p { color: rgb(49, 49, 50); font-size: 16px; font-weight: 200; line-height: normal; }
.first-how::before { content: "" url("../images/aro.png"); position: absolute; right: -10px; top: 35px; }
.first-how.no-aro::before { display: none; }
.how-stpes { padding: 80px 0; }
.search-sec { background-color: rgb(255, 255, 255); border-radius: 50px; height: 68px; position: relative; }
.search-sec button { background-color: rgba(0, 0, 0, 0); border: 0 none; position: absolute; right: -4px; top: 1px; }
.search-sec input { background-color: rgba(0, 0, 0, 0); border: 0 none; color: rgb(165, 165, 169); font-size: 20px; font-weight: 300; height: 68px; margin: 0 0 0 30px; width: calc(100% - 30px); }
.no-paddng { padding: 0; }
.category-1 { background-image: url(../images/cat-img-1.jpg) }
.category-2 { background-image: url(../images/cat-img-2.jpg) }
.category-3 { background-image: url(../images/cat-img-3.jpg) }
.category-4 { background-image: url(../images/cat-img-4.jpg) }
.category-5 { background-image: url(../images/cat-img-5.jpg) }
.category-6 { background-image: url(../images/cat-img-6.jpg) }
.first-cate { background-size: cover; height: 210px; padding: 40px 0 0; text-align: center; }
.first-cate b { color: rgb(255, 255, 255); display: block; font-size: 16px; font-weight: 400; text-transform: uppercase; }
.first-cate center { display: inline-block; height: 100px; position: relative; width: 100px; }
.first-cate img { position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; }
.src-sec { padding: 40px 0; background-color: #313132; }
.need-help { background-color: rgb(241, 242, 243); padding: 50px 0; text-align: center; }
.need- { color: rgb(76, 76, 76); font-size: 30px; font-weight: 300; margin: 0 0 25px; }
.first-help > b { color: rgb(76, 76, 76); display: block; font-size: 18px; font-weight: 400; padding: 19px 0; }
.first-help > p { color: rgb(76, 76, 76); font-size: 14px; font-weight: 300; line-height: normal; }
.become-tasker { background-image: url("../images/tasker-img.jpg"); background-repeat: no-repeat; background-size: cover; }
.sec-becom { background-color: rgb(255, 255, 255); margin: 55px 0; padding: 40px 25px; text-align: center; }
.sec-becom > h5 { color: rgb(0, 0, 0); font-size: 30px; font-weight: 600; margin: 0 0 20px; padding: 0 0 20px; position: relative; }
.sec-becom > h5::before { background-color: rgb(0, 0, 0); bottom: 0; content: ""; height: 1px; left: 0; margin: auto; position: absolute; right: 0; width: 60px; }
.sec-becom > p { color: rgb(0, 0, 0); display: block; font-size: 16px; font-weight: 400; line-height: normal; margin: 12px 0 0; }
.sec-becom > a { border: 1px solid rgb(0, 0, 0); display: inline-block; font-size: 15px; height: 40px; line-height: 40px; margin: 15px 0 0; text-align: center; transition: all 0.2s ease 0s; width: 150px; }
footer { color: #abb8ca; padding: 100px 0; }
.fot-tit { font-size: 24px; font-weight: bold; padding: 0 0 10px; text-transform: uppercase; }
.footer-conta > p { font-size: 16px; font-weight: 300; margin: 0 0 40px; }
.footer-conta > span { font-size: 14px; font-weight: 300; line-height: 16px; }
.con-det > li { margin: 0 0 10px; }
.con-det > li i { margin: 0 5px 0 0; }
.folwo p { font-size: 16px; font-weight: 300; margin: 0 0 20px; }
.folwo > span a { background-color: rgb(180, 185, 198); border-radius: 50%; color: rgb(255, 255, 255); display: inline-block; height: 30px; line-height: 30px; margin: 0 10px 0 0; text-align: center; transition: all 0.5s ease 0s; width: 30px; }
.folwo > span a:hover { transform: rotate(360deg); }
.con-det > li { font-size: 15px; margin: 15px 0 0; }
.first-cate { position: relative; }
.first-cate:hover::before { width: 100%; height: 100%; background-color: rgba(174, 157, 115,.2); border-radius: 0%; }
.first-cate::before { background-color: rgba(174, 157, 115,.2); border-radius: 50%; bottom: 0; content: ""; height: 1px; left: 0; margin: auto; position: absolute; right: 0; top: 0; transition: all 0.2s ease 0s; width: 1px; z-index: 9; }
.sec-becom > a:hover { border-color: rgb(189, 189, 189); color: rgb(0, 0, 0); }
.tom-enu > li a { padding: 8px 10px; position: relative; }
.tom-enu em::before { background-color: rgb(74, 74, 76); content: ""; height: 1px; left: 0; position: absolute; transition: all 0.2s ease 0s; top: 0; width: 0%; }
.tom-enu em::after { background-color: rgb(74, 74, 76); content: ""; height: 0%; left: 0; position: absolute; transition: all 0.2s ease 0s; bottom: 0; width: 1px; }
.tom-enu i::before { background-color: rgb(74, 74, 76); bottom: 0; content: ""; height: 1px; position: absolute; right: 0; transition: all 0.2s ease 0s; width: 0%; }
.tom-enu i::after { background-color: rgb(74, 74, 76); content: ""; height: 0; position: absolute; right: 0; top: 0; transition: all 0.2s ease 0s; width: 1px; }
.tom-enu a:hover em::before { width: 100%; }
.tom-enu a:hover em::after { height: 100%; }
.tom-enu a:hover i::before { width: 100%; }
.tom-enu a:hover i::after { height: 100%; }
/**************************services**************************/
.banner-sec.servnce-img { background-image: url("../images/services-banner.jpg"); padding: 180px 0 0; }
.heai-title { color: rgb(255, 255, 255); display: block; font-size: 40px; letter-spacing: 1px; padding: 0 0 60px; text-align: center; }
.task-uw { border: 1px solid rgb(255, 255, 255); height: 180px; margin: 0 0 70px; text-align: center; position: relative; }
.task-uw b { color: rgb(255, 255, 255); display: block; font-family: "great_vibesregular"; font-size: 30px; font-weight: normal; margin: 60px 0 25px; }
.task-uw > p { color: rgb(255, 255, 255); font-size: 13px; font-weight: 400; letter-spacing: 1px; }
.task-uw > em { background-color: rgb(255, 255, 255); color: rgb(183, 178, 178); font-size: 27px; font-style: normal; font-weight: bold; height: 40px; left: 0; line-height: 40px; position: absolute; width: 40px; }
.first-how.how-help center img { position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; }
.first-how.how-help::before { display: none; }
.first-how.how-help center { border: #b3a47c solid 1px; display: inline-block; height: 165px; line-height: 165px; position: relative; text-align: center; width: 165px; }
.first-how.how-help b { color: rgb(49, 49, 50); display: block; font-size: 16px; font-weight: 500; line-height: normal; text-align: center; text-transform: uppercase; }
.how-stpes.serv-s { background-color: #ecedf0; }
.al-serv ul { float: left; margin: 0 1%; width: 31%; }
.al-serv li a:hover { opacity: .8; }
.al-serv li a { background-color: rgb(255, 255, 255); background-image: url("../images/aro-sm.png"); background-position: calc(20px) center; background-repeat: no-repeat; color: rgb(0, 0, 0); display: block; height: 45px; line-height: 45px; padding: 0 10px 0 45px; text-transform: uppercase; }
.al-serv li:nth-child(2n+2) a { background-color: rgb(221, 224, 229); }
.al-serv { display: table; padding: 40px 0 0; width: 100%; }
/****************************Payment***************************/
.bold-font a, .bold-font { font-weight: 600; }
.pay-tabn > li { display: inline-block; }
.pay-tabn > li a { color: rgb(64, 65, 66); display: block; font-size: 22px; font-weight: 300; height: 50px; line-height: 50px; padding: 0 30px; }
.pay-tabn > li.active a { background-color: #404142; color: #fff; }
.pay-tabn { border: 1px solid rgb(192, 194, 196); display: inline-block; margin: 0 0 40px; }
.msi-det { background-color: rgb(239, 82, 60); display: table; margin: 0 0 45px; padding: 20px; width: 100%; }
.pay-mis-info b { color: rgb(255, 255, 255); font-size: 31px; font-weight: 500; line-height: normal; }
.pay-mis-info > p { color: rgb(255, 255, 255); font-size: 22px; font-weight: 300; line-height: normal; }
.pay-buto > a { border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); display: inline-block; font-size: 23px; height: 55px; line-height: 55px; margin: 15px 0 0; padding: 0; text-align: center; width: 100%; }
.tab-headi a::before { background-image: url("../images/plus-click.png"); background-position: center top; bottom: 0; content: ""; height: 27px; left: 15px; position: absolute; top: 15px; width: 27px; }
.tab-headi a.collapsed::before { background-position: center bottom; }
.tab-headi a { border-bottom: 1px solid rgb(243, 243, 244); display: block; padding: 15px 0 15px 60px; position: relative; }
.tab-headi a b { color: rgb(35, 31, 32); display: block; font-size: 19px; font-weight: normal; line-height: normal; margin: 0 0 3px; }
.tab-headi a p { color: rgb(35, 31, 32); display: block; font-size: 17px; font-weight: 100; margin: 0 0 2px; }
.tab-headi a em { font-size: 12px; font-style: normal; font-weight: 200; color: #231f20; }
.tab-right-sec .panel.panel-primary { border-color: rgb(236, 236, 237); box-shadow: none; }
.tab-detat > b { color: rgb(126, 126, 129); display: block; font-size: 16px; font-weight: 200; margin: 0 0 10px; }
.tab-detat p { color: #231f20; display: block; font-size: 17px; font-weight: 500; margin: 0 0 10px; }
.tab-detat em { color: rgb(136, 137, 140); display: block; font-size: 16px; font-style: normal; font-weight: 100; line-height: normal; margin: 0 0 10px; }
.tab-detat span a { border: 1px solid rgb(159, 161, 163); border-radius: 5px; display: inline-block; font-size: 17px; font-weight: 200; height: 42px; line-height: 41px; margin: 20px 10px 20px 0; padding: 0 20px; }
.tab-detat span a:hover { opacity: .8; }
.panel-body.tab-detat { padding-left: 60px; }
.panel-collapse { position: relative; }
.panel-collapse::after { background-color: rgb(115, 117, 120); bottom: 0; content: ""; height: 100%; left: 26px; position: absolute; top: 0; width: 3px; }
.tab-headi a.collapsed::after { background-color: #fff; }
.tab-headi a:after { background-color: rgb(115, 117, 120); bottom: 0; content: ""; height: 100%; left: 26px; position: absolute; top: 41px; width: 3px; }
.mak-select select { -moz-appearance: none; -webkit-appearance: none; appearance: none; }
.mak-select select { background-image: url("../images/aro-select.png"); background-position: calc(100% - 10px) center; background-repeat: no-repeat; border: 1px solid rgb(192, 194, 196); color: rgb(164, 166, 169); font-size: 22px; font-weight: 300; height: 53px; padding: 0 20px; width: calc(100% - 50px); }
.str-liv b { color: rgb(35, 31, 32); display: block; font-size: 16px; font-weight: 200; line-height: normal; text-align: center; text-transform: uppercase; }
.str-liv { border: 1px solid rgb(237, 239, 240); height: 140px; margin: 0 0 30px; }
.str-liv a { display: block; height: 100%; }
.str-liv center { height: 90px; line-height: 90px; position: relative; }
.str-liv center img { bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; }
.start-liv > b { color: rgb(64, 65, 66); display: block; font-size: 24px; font-weight: 400; line-height: normal; margin: 20px 0; text-align: center; }
.start-liv { border: 1px solid rgb(213, 214, 215); padding: 0 15px 40px; }
.sera-else > b { color: rgb(64, 65, 66); display: block; font-size: 18px; font-weight: 300; margin: 0 0 15px; text-align: center; }
.sera-else input { border: 1px solid rgb(213, 214, 215); display: inline-block; height: 47px; padding: 0 20px; width: 100%; }
.sera-else { padding: 0 20px; }
.cred-det { border: 1px solid rgb(213, 214, 215); margin: 35px 0; padding: 40px; }
.cred-det > h4 { color: rgb(64, 65, 66); display: block; font-size: 44px; font-weight: 500; }
.cred-det > h5 { border-bottom: 2px solid rgb(195, 195, 195); border-top: 2px solid rgb(195, 195, 195); color: rgb(64, 65, 66); display: block; font-size: 38px; font-weight: 500; line-height: normal; margin: 15px 0; padding: 10px 0; }
.cred-det a:hover { text-decoration: underline; }
.cred-det a { color: rgb(35, 31, 32); display: block; font-size: 20px; margin: 15px 0 0; }
/*********************************************Register***************************************/
.register-bg { background-image: url("../images/register.jpg"); background-repeat: no-repeat; background-size: cover; }
.res-box { background-color: rgba(255, 255, 255, 0.7); border-radius: 10px; margin: 20px 0 100px; padding: 40px 0; }
.res-box .form-control { border: 1px solid #b2b0b3; border-radius: 5px; height: 50px; margin-bottom: 15px; box-shadow: none; }
.res-box label { color: #5b5c5f; font-size: 16px; font-weight: 400; margin-bottom: 10px; }
.cret-your { display: block; font-size: 30px; font-weight: 200; line-height: normal; margin: 0 0 40px; text-align: center; }
.terms-con { text-align: left; font-size: 18px; font-weight: 300; }
.terms-con > a:hover { text-decoration: underline; }
.terms-con > a { color: rgb(13, 174, 227); line-height: normal; }
.sign-up:hover { opacity: .7; }
.sign-up { background-color: rgb(70, 70, 70); border-radius: 5px; color: rgb(255, 255, 255) !important; display: inline-block; font-size: 17px; height: 50px; line-height: 50px; margin: 30px 0 0; padding: 0 30px; text-transform: uppercase; }
.cret-your { font-size: 22px; }
/* / Services Page */

.tab_part { background: #ededed none repeat scroll 0 0; margin-bottom: 50px; }
.tab_part ul { text-align: left; }
.tab_part ul li { display: inline-block; vertical-align: top; width: 30%; line-height: 60px; }
.tab_part li a { font-size: 20px; font-style: normal; font-weight: bold; }
.tab_part li a i { background-color: #4f4f51; border-radius: 50%; color: #fff; display: inline-block; font-style: normal; height: 30px; line-height: 30px; text-align: center; width: 30px; margin-right: 10px; }
.service_col h3 { margin-bottom: 10px; }
.service_col .select-wrapper { margin-bottom: 20px; }
/* Select Box Css */
.select-wrapper { background: rgba(0, 0, 0, 0) url("../images/dropdown.png") no-repeat scroll 96% center; border: 1px solid #b2b0b3; border-radius: 5px; box-shadow: none; cursor: pointer; display: inline-block; float: left; font-size: 16px; font-weight: 300; height: 45px; line-height: 45px; }
.select-wrapper, .select-wrapper select { height: 50px; line-height: 50px; width: 300px; }
.select-wrapper:hover { background: url("../images/dropdown-hover.png") no-repeat 96% center; border-color: #a1a1a1; }
.select-wrapper .holder { color: #9e9e9e; cursor: pointer; display: block; font-size: 17px; font-weight: 400; margin: 0 35px 0 5px; overflow: hidden; padding-left: 5px; position: relative; white-space: nowrap; z-index: 1; }
.select-wrapper select { margin: 0; position: absolute; z-index: 2; cursor: pointer; outline: none; opacity: 0; _noFocusLine: expression(this.hideFocus=true);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0; }
.form-group { margin-bottom: 0; }
h3.serv_heading { margin-bottom: 10px; }
.check_box_part { margin-bottom: 25px; margin-top: 25px; overflow: hidden; }
.check_box_part div { display: inline-block; vertical-align: top; margin-right: 10px; }
.checkbox-custom, .radio-custom { opacity: 0; position: absolute; }
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label { cursor: pointer; display: inline-block; margin: 0; vertical-align: middle; }
.checkbox-custom-label, .radio-custom-label { font-size: 18px; position: relative; }
.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before { content: ''; background: #fff; border: 1px solid #ddd; display: inline-block; vertical-align: middle; width: 17px; height: 17px; padding: 0 1pxpx; margin-right: 10px; text-align: center; }
.checkbox-custom:checked + .checkbox-custom-label:before { content: "\f00c"; font-family: 'FontAwesome'; background: #333; color: #fff; font-size: 12px; }
.radio-custom + .radio-custom-label:before { border-radius: 50%; }
.radio-custom:checked + .radio-custom-label:before { content: "\f00c"; font-family: 'FontAwesome'; color: #bbb; }
.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label { outline: 1px solid #ddd; /* focus style */ }
.service-col2 { border: 1px solid #eee; padding: 15px; margin-bottom: 40px; }
.service-col2 input, .service-col2 textarea { border: 1px solid #b2b0b3; border-radius: 5px; color: #333; font-size: 18px; line-height: 50px; padding: 0 15px; width: 100%; }
.service-col2 input, .service-col2 textarea, .service-col2 .select-wrapper { margin-bottom: 15px; }
.service-col2 input[type="radio"], .service-col2 input[type="checkbox"] { width: auto !important; }
.service-col2 textarea { height: 140px; }
.service-col2 input[type="submit"] { background: #464647 none repeat scroll 0 0; border: 0 none; color: #fff; line-height: 50px; margin-top: 15px; text-transform: uppercase; width: 180px; }
.service-col2 input[type="submit"]:hover, .service-col2 input[type="submit"]:focus { outline: 0; text-decoration: none; transition: 0.5s all; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -o-transition: 0.5s all; -ms-transition: 0.5s all; opacity: 0.6; }
.date-form { border-right: 1px solid #b3b2b4; min-height: 270px; padding: 0 50px 0 30px; }
.QuickAssign { padding: 0 15px; }
.QuickAssign h1 { margin-top: 35px; font-weight: 600; }
.hr_text { border: 2px solid #000; display: inline-block; font-size: 30px; line-height: 50px; margin: 15px 0; padding: 0 35px; }
.hr_text span { font-weight: 600; }
.QuickAssign h3 { margin-bottom: 15px; }
.QuickAssign p { color: #88898c; font-size: 16px; line-height: 22px; text-align: left; }
.col-left { border-right: 1px solid #b3b2b4; min-height: 350px; padding: 0px 40px; margin: 25px 0px; }
.col-left label { color: #5b5c5f; font-size: 16px; margin-bottom: 15px; width: 100%; }
.col-right { margin: 20px 0; padding: 0 40px; }
.col-right label { color: #88898c; font-size: 18px; margin-bottom: 10px; }
.col-right p { font-size: 16px; line-height: 20px; margin-bottom: 25px; }
.date_select .select-wrapper, .date_select .select-wrapper select, .time_select .select-wrapper, .time_select .select-wrapper select { width: 100%; }
.date_select .select-wrapper select.custom-select, .time_select .select-wrapper select.custom-select { width: 80% !important; }
.date_select .select-wrapper, .time_select .select-wrapper { background: rgba(0, 0, 0, 0) url("../images/select_arrow.png") no-repeat scroll 94% center; border: 1px solid #b2b0b3; border-radius: 5px; box-shadow: none; cursor: pointer; display: inline-block; float: left; font-size: 16px; font-weight: 300; height: 52px; line-height: 52px; }
.time_select .select-wrapper { background-position: 96% center; }
.time-lable { font-size: 18px; line-height: 25px; margin-bottom: 15px; }
.univ-cate { position: relative; text-align: center; margin: 0 10px 20px; }
.uni-icons { background-color: rgba(255, 255, 255, 0.3); border: 2px solid #ccc; border-radius: 5px; color: #666; cursor: pointer; font-size: 21px; font-weight: bold; height: 80px; line-height: 27px; padding: 11px 0; width: 100%; }
.uni-icons > span { display: block; height: auto; margin: 0; position: relative; text-align: center; }
.uni-icons i { color: rgb(255, 255, 255); display: block; font-size: 23px; font-style: normal; font-weight: 200; text-align: center; }
.uni-icons > span img { bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; }
.univ-cate input[type="radio"] { cursor: pointer; height: 100%; left: 0; opacity: 0; position: absolute; right: 0; top: 0; width: 100% !important; z-index: 9; }
.univ-cate input[type="radio"]:checked ~ .uni-icons { background-color: #464647; border: 2px solid #464647; color: #ffffff; }
.slick-slider button { background: transparent none repeat scroll 0 0; border: 0 none; height: 20px; text-indent: -9999px; }
.radio-slider .slick-prev.slick-arrow { left: -25px; position: absolute; top: 30%; background-image: url(../images/date-slider-left-arrow.png); background-repeat: no-repeat; background-position: left center; }
.radio-slider .slick-next.slick-arrow { right: -25px; position: absolute; top: 30%; background-image: url(../images/date-slider-right-arrow.png); background-repeat: no-repeat; background-position: right center; }
.note_text { color: #a3a2a4; font-size: 18px; line-height: 24px; margin-bottom: 15px; }
.note_text span { color: #333; }
/* / Login */

.login-part { margin: auto; width: 640px; }
.login-part ul { margin-bottom: 50px; text-align: center; }
.login-part li { border-right: 1px solid; display: inline-block; height: 20px; vertical-align: top; }
.login-part li:last-child { border: 0 none; }
.login-part li a { font-size: 22px; font-weight: 200; padding: 0 15px; }
.login-part .col-md-5.col-sm-5 { padding-left: 0; }
.login-part .col-md-2.col-sm-2.col-lg-2.text-center { padding: 0; }
.login-part .form-control { font-size: 17px; font-weight: 200; padding: 0 10px 0 40px; }
.login-part .form-group { position: relative; }
.login-part .form-group i { left: 10px; position: absolute; top: 15px; }
.login-part input[type="submit"] { background: #464647 none repeat scroll 0 0; border: 0 none; color: #fff; font-size: 15px; line-height: 50px; margin-top: 0; text-transform: uppercase; width: 100%; border-radius: 5px; }
.forgot_text a { color: #666; font-size: 16px; }
.text-center.or-text { margin-top: 15px; font-size: 16px; color: #333; }
.login-part input[type="submit"]:hover, .service-col2 input[type="submit"]:focus { outline: 0; text-decoration: none; transition: 0.5s all; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -o-transition: 0.5s all; -ms-transition: 0.5s all; opacity: 0.6; }
.date-form { border-right: 1px solid #b3b2b4; min-height: 270px; padding: 0 50px 0 30px; }
.sign-up.facebook i { font-size: 16px; margin-right: 5px; }
.sign-up.facebook { background-color: #445f95; }
